
 .card {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 1rem;

  background-color: var(--card-bkg-color);
  color: white;

  padding: 0.25rem;
  margin: 10px;

  width: fit-content;

  display: flex;
  flex-direction: column;
}

.iconoClima{
    display: flex;
    position: relative;
    justify-content: end;
  } 

.cardBtn{
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;

  border: 1px solid transparent;
  border-radius: 9999px;

  cursor: pointer;

  color: white;
  background-color: var(--btn-bkg-danger);

  transition: background-color 250ms;
}

.cardBtn:hover{
background-color: var(--btn-bkg-danger-hover);
}

.card > section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.name{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;

}

.mainCard{
  border-color: transparent;
  background-color: transparent;
}

.mainCard .cardBtn{
  display: none;
}



